  #Header{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
      width: 100%;
      font-size: 18px;
      padding: 0px 0;
      background: #fff;
      border-bottom: 1px solid #000;
      z-index: 99;
  }
  
  .Header{
    position: relative;
      width: 95%;
      margin: 0 auto;
      line-height: 100px;
      overflow: auto;
  }
  .logo{
    font-size: 24px;
      font-weight: bold;
      position: relative;
      float: left;
      width: 310px;
  }
  
  #Header a{
    text-decoration: none;
    color: #000;
  }
  
  .menu_list{
    position: relative;
      float: left;
      margin-right: 200px;
  }
  
  .drop{
    display: inline-block;
      *display: inline;
      *zoom: 1;
      
  
  }
  .menu{
    margin: 0px;
  }
  
  .drop p{
    margin:0px;
  }
 
  .drop:hover .sub{
    transition-duration: 2s;
    position: fixed;
    display: inline-block; 
  }
  
  .sub{
    display: none;
      top: 100px;
      width: 220px;
      text-align: left;
      padding: 0px 10px 50px 0px;
      z-index: 999;
  }
  
  .sub1{
    left: 300px;
  }
  .sub2{
    right:60px
  }
  .inner{
    background: #fff;
      border: 1px solid #000;
      border-top: 0;
      padding: 5px 0 15px 0;
  }
  .inner ul{
    padding: 0px;
  }
  #Header ul.menu li ul.sub a {
    display: block;
    font-size: 15px;
    line-height: 24px;
    margin: 0;
    padding: 0 25px;
  }
  
  #Header .Header .membership_list {
    position: relative;
    float: right;
    text-align: right;
  }
  li{
    list-style: none;
  }
  #Header .Header .membership_list li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-left: 40px;
  }