.mypage_container{
    float:left;
    margin: 100px 60px 60px;
}

.mypage_list{
    width: 210px;
}

.mypage_list h2{
    font-size: 30px;
    line-height: 1em;
    padding-bottom: 25px;
    border-bottom: 1px solid #0d0d0d;
    font-weight: 700;
}

.mypage_menu{
    margin-bottom: 10px;
}

.mypage_menu a{
    color: #808080;
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
    vertical-align: top;
    line-height: 1em;
}

.mypage_menuname{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
}