.product_container{
    margin-top: 50px;
}

.product_content{
    margin:0 40px;
}

.category_list{
    padding: 20px;
    padding-bottom: 20px;
    width: 200px;
    float: left;
    margin-top: 70px;
    margin-bottom: 50px;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025),0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.category_title{
    margin: -6px 0 8px;
    padding-bottom: 12px;
    border-bottom: 4px solid #000;
    font-size: 23px;
    color: #000;
    font-weight: 800;
    line-height: 1.25;
}

.category_list ul li{
    margin:12px 0;
}

.category_list ul li a{
    text-decoration: none;
    font-size: 16px;
    line-height: 28px;
    color: #5d5d5d;
    text-align: left;
}

.category_list ul li:hover a{
    font-size: 18px;
    font-weight: 1000;
    color: #000;
}

#selected{
    font-size: 18px;
    font-weight: 1000;
    color: #000;
}

.product_list{
    margin-top: 50px;
    width: 1100px;
    float: right;
}

.product_list ul{
    display: flex;
    flex-wrap: wrap;
}

.product_list li{
    width: 30%;
    margin-left: 20px;
    margin-bottom: 40px;
}


.product_list li a{
    width: 100%;
}